<% const defaultTitle = "HTML5 template"; %>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title><%=title || defaultTitle;%></title>
	<style type="text/css">
		body {}
	</style>
</head>
<body>
	<h1><%=title || defaultTitle;%></h1>
	<script type="text/javascript">
		window.addEventListener("load", function() {
			// @TODO: add script here
		});
	</script>
</body>
</html>